// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.index {
  border: 1px solid #666666;
  margin: 0 auto;
  margin-bottom: 10px;
  border-collapse: collapse;
}

table.show {
  border: 2px solid #333333;
  margin: 0 auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

td {
  text-align: left;
  border: 1px dotted #999999;
  padding: 10px;
  border-collapse: collapse;
}
